---
import Layout from "@layouts/ErrorLayout.astro";
---

<Layout title="404" description="Page doesn't exist">
  <h1 class="text-center text-9xl">404</h1>
  <p class="text-center">The page you are looking for doesn't exist</p>
</Layout>
