---
import Layout from "@layouts/ErrorLayout.astro";
---

<Layout title="503" description="Page doesn't exist">
  <h1 class="text-9xl">503</h1>
  <p class="text-center">Server error - Blog Backend is down.</p>
</Layout>
