---
import Layout from "@layouts/Layout.astro";

// static page so set prerenderer to true
export const prerender = true;

const title = "Blog";
const description = "Blog of tips and things";
---

<Layout title={title} description={description} current="">
  <main>
    <h1 class="text-center">Blog template</h1>
    <h4 class="text-center">Powered by Blogger, Astro, Tailwind</h4>
    <h4 class="text-center mb-10">Hosted on Cloudflare Pages</h4>

    <h2>Why use this template?</h2>
    <p>
      This template offers a starting point to build a blog (or other resource) that is using a mixture of dynamic and static pages but hosted on Cloudflare pages.
    </p>
    <p>
      The template uses the <a href="https://astro.build">Astro Framework</a> as its core, with CSS being handled by <a href="https://tailwindcss.com">Tailwindcss</a>.
      This template uses <a href="https:/blogger.com">Blogger</a> as the source of blog content, by using API calls to the Blogger API to receive the pages, but it could easily be converted to use any other blog that provides an API e.g. <a href="https://ghost.org">Ghost</a>.
      It is built to use <a href="https://pages.cloudflare.com/">Cloudflare Pages</a> as the websites hosting platform, which is a free* hosting platform for static sites, but can handle dynamic sites via a worker script which this template creates.
    </p>

    <h2>How to use the template</h2>
    <p>Edit components with your own data (e.g. change logo, favicon, social image) and the pages files (e.g. this page is index.astro).</p>
    <p>
      Edit the file, <code class="px-2 rounded-xl">.env.development</code> to have the correct BLOGID (the blogs ID on the Blogger dashboard) and <a href="https://developers.google.com/blogger/docs/3.0/using#APIKey">API key</a> for the blog on Blogger.
      Create a <code class="px-2 rounded-xl">.env.production</code> file with the correct information for your production blog; note the production file is set to be ignored by git, remove this from <code class="px-2 rounded-xl">.git.ignore</code> if that isn't suitable.
      Alternativily if you are going to use a different blog backend edit the API calls on the blog/index.astro, blog/[slug].astro and label/[slug].astro pages.
    </p>
    <p>
      This is built using npm or <a href="https://pnpm.io/installation">pnpm</a>. It is advised to be run via pnpm, if you do not have that installed then follow the instructions (simplest method is just to enable corepack in node).
    </p>
    <p>
      Run the command <code class="px-2 rounded-xl">pnpm install</code>, this will fetch and install in the .pnpm directory the required packages.
    </p>
    <p>Setup <a href="https://developers.cloudflare.com/workers/wrangler/install-and-update/">Wrangler</a>.</p>

    <h3>How to run development testing</h3>
    <p>There are 2 ways to do this:</p>
    <ul class="list-disc">
      <li>
        <code class="px-2 rounded-xl">pnpm run dev</code> this will create a live dev server which will monitor for changes.
      </li>
      <li>
        <code class="px-2 rounded-xl">pnpm run build</code> then <code class="px-2 rounded-xl">npm run preview</code> this will build the project into the dist folder and then create a local server that runs as a local cloudflare server app.
      </li>
    </ul>
    <p>
      Use the first method for normal testing while you are creating your site, the second to test to see if it works correctly on build.
    </p>

    <h3>How to deploy</h3>
    <p>
      <code class="px-2 rounded-xl">pnpm run publish</code> command will run wrangler to publish the contents of the dist folder on the cloudflare network.
      It will give you an address for the deployed pages site, full information for the deployment is available on the cloudflare dashboard.
    </p>
  </main>
</Layout>
