<!-- replace this component with own logo -->
<a
  class="no-underline font-mono text-5xl rounded-full p-5 m-1 border-4 bg-charcoal dark:bg-silver border-charcoal dark:border-silver text-silver dark:text-charcoal hover:text-silver hover:underline"
  href="/"
>
  JS
</a>
