---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

export interface Props {
  title: string;
  description: string;
  current?: string;
}
const { title, description, current } = Astro.props;

// 	<body class="m-0 font-serif text-base text-coral-900 dark:text-coral-100 bg-submarine-100 dark:bg-submarine-800">
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="m-0 font-serif text-base text-charcoal dark:text-platinum bg-platinum dark:bg-charcoal border-charcoal dark:border-platinum"
  >
    <div class="flex flex-col min-h-full min-h-screen">
      <Header current={current} />

      <main
        class="flex-1 flex flex-col relative max-w-screen-desktop px-2 py-8 box-border mx-auto w-full"
      >
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
